@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
h1,
h2,
h3 {
  color: #0c0e16;
}

h4 {
  color: #888eb0;
}

body {
  font-family: "League Spartan";
}

header {
  background-color: #373b53;
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  > * {
    display: flex;
    align-items: center;
    padding-inline: 24px;
  }

  input {
    appearance: none;
  }

  label {
    border-right: 1px solid #494e6e;
    height: 100%;
    cursor: pointer;
  }
}

main {
  margin-top: 32px;
  padding-inline: 24px;
}

.home-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-page-titles {
  display: flex;
  flex-direction: column;
  gap: 3px;

  h1 {
    font-size: 24px;
    line-height: 22.08px;
    letter-spacing: -0.75px;
  }

  h4 {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.10000000149011612px;
  }
}

.home-page-interactions {
  display: flex;
  align-items: center;
  gap: 16px;

  button {
    border: none;
    cursor: pointer;
  }
}

.filter-dropdown-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: transparent;
}

.home-page-newBtn {
  display: flex;
  align-items: baseline;
  padding: 6px;
  background-color: #7c5dfa;
  border-radius: 24px;
  gap: 8px;

  figure {
    background-color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #fff;
    padding-right: 10px;
  }
}

.nothing-here-contents {
  display: flex;
  flex-direction: column;
  padding-inline: 12px;
  gap: 24px;
  text-align: center;
  margin-top: 102px;

  h4 {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.10000000149011612px;
  }
}

.invoices-contents {
  margin-top: 32px;
  display: grid;
  gap: 16px;
}

.invoice-item {
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0px 10px 10px -10px #48549f1a;
  display: flex;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;
}

.invoice-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoice-data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  p {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.10000000149011612px;
    color: #888eb0;
  }

  h3 {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }
}

.invoice-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoice-status {
  padding: 14px;
  display: flex;
  gap: 8px;
  align-items: baseline;
  justify-content: center;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  width: 104px;
  svg {
    width: 8px;
    height: 8px;
  }
}

.invoice-status.paid {
  background-color: rgba(51, 214, 160, 0.0571);
  color: #33d69f;
  svg {
    fill: #33d69f;
  }
}

.invoice-status.pending {
  background-color: rgba(255, 143, 0, 0.059);
  color: #ff8f00;
  svg {
    fill: #ff8f00;
  }
}

.invoice-status.draft {
  background-color: #373b530f;
  color: #373b53;
  svg {
    fill: #373b53;
  }
}

.invoice-details {
  margin-top: 32px;
  padding-inline: 24px;
}

.invoice-backBtn {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.invoice-details-contents {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.invoice-details-status {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 10px -10px #48549f1a;
}

.invoice-details-body {
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0px 10px 10px -10px #48549f1a;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.invoice-details-titles {
  display: flex;
  flex-direction: column;
  gap: 4px;
  h3 {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.25px;
  }
  h4 {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.10000000149011612px;
  }
}

.invoice-details-address {
  display: flex;
  flex-direction: column;

  span {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.10000000149011612px;
    color: #7e88c3;
  }
}

.invoice-details-payment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  span {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: #0c0e16;
  }

  strong {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: #0c0e16;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    h4 {
      font-weight: 500;
    }
  }
}

.invoice-details-payment-invoiceDate {
  grid-column: 1;
  grid-row: 1;
}

.invoice-details-payment-dueDate {
  grid-column: 1;
  grid-row: 2;
}

.invoice-details-payment-billTo {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.invoice-details-payment-email {
  grid-column: 1 / span 2;
  grid-row: 3;

  strong {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: #0c0e16;
  }
}

.invoice-details-payment-address {
  display: flex;
  flex-direction: column;
  span {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.10000000149011612px;
    color: #7e88c3;
  }
}

.invoice-details-items {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #f9fafe;
  padding: 24px;
  display: grid;
  gap: 24px;
}

.invoice-details-grandTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #373b53;
  padding: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  h2 {
    color: #fff;
    font-size: 24px;
    letter-spacing: -0.5px;
  }

  span {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.10000000149011612px;
  }
}

.invoice-details-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.invoice-details-interactionBtns {
  background-color: #fff;
  padding: 20px 24px;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 10px 10px -10px #48549f1a;

  button {
    padding: 16px 24px;
    border-radius: 24px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    cursor: pointer;
  }
}

.editBtn {
  color: #7e88c3;
  background-color: #f9fafe;
}

.removeBtn {
  color: #fff;
  background-color: #ec5757;
}

.markBtn {
  color: #fff;
  background-color: #7c5dfa;
}

.invoice-edit {
  margin-top: 32px;
  padding-inline: 24px;
  padding-bottom: 200px;
}

.hashtag {
  color: #7e88c3;
}

.invoice-edit-contents {
  margin-top: 26px;
  h1 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }

  form {
    margin-top: 22px;
    display: grid;
    gap: 40px;
    fieldset {
      display: grid;
      gap: 24px;
      border: none;
      padding: 0;
      legend {
        margin-bottom: 24px;
      }
      label {
        p {
          font-size: 13px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: -0.10000000149011612px;
          color: #7e88c3;
        }
        input,
        select {
          border-radius: 4px;
          width: 100%;
          border: 1px solid #dfe3fa;
          outline: none;
          font-size: 15px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: -0.25px;
          color: #0c0e16;
          padding: 16px 20px;
        }
      }
    }
  }
}

.billStreetAddress {
  grid-column: 1 / span 2;
}

.billCountry {
  grid-column: 1 / span 2;
}

.billToFieldset,
.billFieldset {
  grid-template-columns: repeat(2, 1fr);
  legend {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7c5dfa;
  }
}

.billToName,
.billToEmail,
.billToAddress,
.billToCountry {
  grid-column: 1 / span 2;
}

.itemListFieldset {
  margin-top: 30px;
  legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.375px;
    color: #777f98;
  }
}

.invoiceItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr) max-content;
  gap: 24px;

  button {
    align-self: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.itemName {
  grid-column: 1 / span 4;
}

.itemTotalPrice {
  input[disabled]{
    padding: 16px 0;
    background-color: transparent !important;
    border: none !important;
  }
}

.addNewItemBtn {
  padding: 16px;
  background-color: #f9fafe;
  border: none;
  border-radius: 24px;
  color: #7e88c3;
}

.form-interactions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-btns {
  padding: 22px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  background-color: #fff;
  box-shadow: 0px 10px 10px -10px #48549f1a;

  button {
    padding: 16px 16px;
    border-radius: 24px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    cursor: pointer;
  }
}

.cancelBtn {
  background-color: #f9fafe;
  color: #7e88c3;
}

.saveBtn {
  background-color: #7c5dfa;
  color: #fff;
}

.linear-effect {
  width: 100%;
  height: 64px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.saveDraftBtn {
  background-color: #373b53;
  color: #888eb0;
}

dialog {
  margin: auto;
  border: none;
  box-shadow: 0px 10px 10px -10px #48549f1a;
  border-radius: 8px;
  padding: 32px;
  max-width: 327px;

  form {
    display: grid;
    gap: 8px;
    h2 {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
    }
    p {
      font-size: 13px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.10000000149011612px;
      color: #888eb0;
    }
  }
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.dialog-btn-group {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 14px;

  button {
    padding: 16px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
  }
}
